service: xhafanblog

image: xhafan/xhafanblog

proxy:
  ssl: false
  ssl_redirect: false
  forward_headers: true

registry:
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

builder:
  arch: amd64
