service: xhafanblog

image: xhafan/xhafanblog

servers:
  web:
    - 192.168.0.190

proxy:
  ssl: true
  host: xhafanblog.xhafan.com # this host does not have to exist - it's here just to make kamal happy
  app_port: 4000
  healthcheck:
    path: /blog/

registry:
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

builder:
  arch: amd64
